model_config_list {

config {
  name: 'fer-acc99'
  base_path: '/models/fer-acc99/'
  model_platform: 'tensorflow'
  }
        
  config {
   name: 'half_plus_two'
   base_path: '/models/half_plus_two/'
   model_platform: 'tensorflow'
     model_version_policy{
         specific {
                    versions:3
                    versions:4
          }
        }
          version_labels {
          key: 'stable'
          value: 3
          }
   }
}
